header.page-header
  .container
    .page-header-inner
      a.main-logo(href="index.html") Brunch
      nav.main-nav
        ul
          li
            a(href="index.html") Home
          li
            a(href="about.html") About
