doctype html
html(lang="en-US")

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE-edge")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel='shortcut icon', type="image/x-icon", href='favicon.ico')
    link(rel='manifest', href='manifest.json')

    block title
    link(rel="stylesheet" href="css/vendor.css")
    link(rel="stylesheet" href="css/app.css")

  body.base
    include ../_partials/_header.pug
    block main
    include ../_partials/_footer.pug
    script(src="js/vendor.js")
    script(src="js/app.js")
